BODY,P,TD{
	font: 18px ARIAL BOLD
}
body{
	background:#D3D3D3
}
a:link{
	color:blue;
	text-decoration:none
}
a:visited{
	color: blue;
	text-decoration:none
}
a:hover{
	color:red;
	text-decoration:none
}
a:active{
	color:blue;
	text-decoration:none
}
